.wrapper{
    padding: 10px;
    min-width: 500px;

}
.collumn{
    width: 30%;
}
.header{
    display: flex;
    width: 100%;
    align-items:center;
    padding: 10px;
    background: gray;
    justify-content: space-around;
}

.row{
    display: flex;
    width: 100%;
    align-items:center;
    padding: 10px;
    background: rgb(244, 245, 246);
    justify-content: space-around;
}